form, .formDiv {
    height: 100%;
    margin: 1em;
}

 .esri-view {
    height: 60vh;
    width: 100%;
    margin-bottom: 1em !important;
}
calcite-card {
    margin-bottom: 1em;
}

calcite-input-message[status='invalid'] {
    color: var(--calcite-ui-danger);
}
calcite-input-message[status='valid'] {
  color: var(--calcite-ui-warning);
}
.custom-file-upload {
    height: 44px;
    width: 116px;
    z-index: 0;
    position: absolute;
    left: 0;

}

input[type="file"] {
    display: none;
  }

  .upload {
    margin-bottom: 1em;

  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .file-name {
    margin-top: 2em;
    margin-left: 2em;
  }

  calcite-notice {
    margin-left: 0;
    margin-bottom: 2em;
  }

  calcite-stepper-item {
    width: 100%;
  }

.intro {
    font-size: 14px !important;
  }