@import "@esri/calcite-components/dist/calcite/calcite.css";
@import "https://js.arcgis.com/4.31/@arcgis/core/assets/esri/themes/light/main.css";

#root {
  --calcite-color-brand: #4d8c2b;
  --calcite-color-brand-hover: #4d8c2b;
  --calcite-color-brand-press: #4d8c2b;
  --calcite-color-focus-color: none !important;
}
